<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
 		http://www.springframework.org/schema/beans
 		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations" value="classpath:auditoriums.properties" />
    </bean>

    <bean id="users" class="com.mirr.tickets.users.UserServiceImpl"/>

    <bean id="events" class="com.mirr.tickets.events.EventServiceImpl">
        <property name="auditoriumService" ref="auditoriums" />
    </bean>

    <bean id="discount" class="com.mirr.tickets.discount.DiscountServiceImpl"/>

    <bean id="booking" class="com.mirr.tickets.booking.BookingServiceImpl"/>

    <bean id="auditoriums" class="com.mirr.tickets.auditoriums.AuditoriumServiceImpl">
        <property name="auditoriumNames" value="${auditoriumNames}" />
        <property name="auditoriumSeatsNumber" value="${numberOfSeats}" />
        <property name="auditoriumVIPSeats" value="${vipSeats}" />

    </bean>





</beans>