<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
 		http://www.springframework.org/schema/beans
 		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

    <bean id="users" class="com.mirr.tickets.users.UserServiceImpl"/>

    <bean id="events" class="com.mirr.tickets.events.EventsServiceImpl">
    </bean>

    <bean id="discount" class="com.mirr.tickets.users.DiscountServiceImpl"/>

    <bean id="booking" class="com.mirr.tickets.users.BookingServiceImpl"/>

    <bean id="auditoriums" class="com.mirr.tickets.users.AuditoriumsServiceImpl"/>


</beans>